# Front-end Routing (Emulating S3 Static Website / CloudFront Distribution)
resume.local {
    # Force Caddy to issue and trust an internal self-signed SSL certificate
    tls internal

    # Proxy web requests straight into the LocalStack S3 emulator endpoint
    reverse_proxy localstack:4566 {
        header_up Host {http.reverse_proxy.header.X-Forwarded-Host}
    }
}

# Back-end API Routing (Emulating Custom API Gateway Domain Mapping)
api.local {
    tls internal

    # Routes API requests straight to our local serverless REST engine
    reverse_proxy localstack:4566
}