# Front-end Routing (Emulating S3 Static Website Hosting)
resume.local:443 {
    tls internal

    # Route request to the LocalStack S3 Website hosting domain pattern
    reverse_proxy localstack:4566 {
        header_up Host local-cloud-resume-bucket.s3-website.localhost.localstack.cloud
    }
}

# Back-end API Routing (Emulating Custom API Gateway Domain Mapping)
api.local:443 {
    tls internal
    reverse_proxy localstack:4566
}
